---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import ContactUs from '~/components/widgets/Contact.astro';
import Features2 from '~/components/widgets/Features2.astro';

const metadata = {
  title: 'Contact',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <HeroText tagline="Contact" title="Let's Connect!" />

  <!-- Features2 Widget ************** -->

  <Features2
    title="We are here to help!"
    items={[
      {
        title: 'FAQs',
		description: 'See the <a href="/dockside-app#FAQs" style="text-decoration: underline;">FAQs section</a>',
		icon: 'tabler:globe',
      },
      {
        title: 'Discord',
        description: '<a href="https://discord.gg/EZJUdEPV" style="text-decoration: underline;">Join Discord Community</a>',
        icon: 'tabler:headset',
      },
      {
        title: 'Email',
        description: '<a href="mailto:hachipoo.apps@gmail.com" style="text-decoration: underline;">hachipoo.apps@gmail.com</a>',
        icon: 'tabler:mail',
      }
    ]}
  />
</Layout>
