---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import { Icon } from 'astro-icon/components';
import HeroText from '~/components/widgets/HeroText.astro';



import Hero2 from '~/components/widgets/Hero2.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Content from '~/components/widgets/Content.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

import Button from '~/components/ui/Button.astro';
import Image from '~/components/common/Image.astro';

import { Vimeo } from 'astro-embed';

const appStoreImg = '~/assets/images/app-store.png';
const appStoreDownloadLink = 'https://github.com/onwidget/astrowind';

const googlePlayImg = '~/assets/images/google-play.png';
const googlePlayDownloadLink = 'https://github.com/onwidget/astrowind';

const metadata = {
  title: 'Dockside App for Mac: Your friendly file shelf that lives next to your macOS Dock',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header
      position="right"
      links={[
        { text: 'Features', href: '#features' },
        { text: 'Usage Tips', href: '/dockside-usage-tips' },
		{ text: 'Changelog', href: 'https://github.com/PrajwalSD/Dockside/releases' },
		// { text: 'Privacy', href: '#data-privacy' },
		{ text: 'Developers', href: '/developers' },
		{ text: 'FAQs', href: '#FAQs' },
        { text: 'Support', href: '/contact' },
      ]}
      actions={[
        {
          variant: 'secondary',
          text: 'Free Trial',
          href: 'https://github.com/PrajwalSD/Dockside/releases/latest/download/Dockside.dmg',
          icon: 'tabler:download',
        },
        {
          variant: 'primary',
          text: 'Buy Now</span>',
          href: 'https://hachipoo.gumroad.com/l/dockside',
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero2
    tagline=""
    actions={[
	  {
        text: '14-day Free Trial',
        href: 'https://github.com/PrajwalSD/Dockside/releases/latest/download/Dockside.dmg',
        icon: 'tabler:download',
      },
      {
        variant: 'primary',
        target: '_blank',
        text: `Buy Now <span class=" font-light"> &#xA0;(lifetime license: $5.99)</span>`,
        href: 'https://hachipoo.gumroad.com/l/dockside',
      },
    ]}
    video="https://vimeo.com/1019733142"
  >
    <Fragment slot="title">
      <span class="text-accent dark:text-white highlight">Dockside for Mac:</span>
      <br /> Drag, Drop, Done.
    </Fragment>

    <Fragment slot="subtitle">
      <span class="sm:inline">
        Dockside is your friendly file shelf next to the Dock, where you can drag & drop files, folders, apps, and even text for quick access or later use. It also
        displays recent screenshots and downloads for easy access. Lightweight and there when you need it, fading away when you don't, Dockside helps you manage frequently used items—all without
        getting in your way.
        <br /><br />
    	Dockside is Apple Notarized, ensuring it meets Apple's high security standards. 
		Explore all of Dockside’s features with a <u>free 14-day trial</u>, or purchase a <u>one-time license for just $5.99</u>, no subscriptions. 
		<br /><br />
		Supports macOS 13.0+ (Ventura and above)
      </span>
    </Fragment>
  </Hero2>

   <!-- Content Widget **************** -->

  <div
    class="relative mx-auto max-w-7xl px-4 md:px-6 py-12 md:py-16 lg:py-20 text-default"
    data-astro-source-file="/Users/prajwalshettyd/Developer/git/dockside-website/src/components/ui/WidgetWrapper.astro"
    data-astro-source-loc="28:4"
  >
    <div
      class="mb-8 md:mx-auto md:mb-12 text-center max-w-3xl"
      data-astro-source-file="/Users/prajwalshettyd/Developer/git/dockside-website/src/components/ui/Headline.astro"
      data-astro-source-loc="21:82"
    >
      <p
        class="text-base text-secondary dark:text-blue-200 font-bold tracking-wide uppercase"
        data-astro-source-file="/Users/prajwalshettyd/Developer/git/dockside-website/src/components/ui/Headline.astro"
        data-astro-source-loc="23:10"
      >
        Get started in a few easy steps
      </p><h2
        class="font-bold leading-tighter tracking-tighter font-heading text-heading text-3xl md:text-4xl"
        data-astro-source-file="/Users/prajwalshettyd/Developer/git/dockside-website/src/components/ui/Headline.astro"
        data-astro-source-loc="26:10"
      >
        How to use Dockside?
      </h2><p
        class="mt-4 text-muted text-xl"
        data-astro-source-file="/Users/prajwalshettyd/Developer/git/dockside-website/src/components/ui/Headline.astro"
        data-astro-source-loc="32:21"
      >
	  Whether you're managing projects at work, studying for exams, working on creative projects, coding your app
	  or using your Mac casually, Dockside is the perfect companion.
	  Let's get you started!	
      </p>
    </div>
    <div
      aria-hidden="true"
      class="aspect-w-16 aspect-h-7"
      data-astro-source-file="/Users/prajwalshettyd/Developer/git/dockside-website/src/components/widgets/Features3.astro"
      data-astro-source-loc="36:58"
    >
      <div
        class="w-full object-cover rounded-xl mx-auto bg-gray-500 shadow-lg"
        data-astro-source-file="/Users/prajwalshettyd/Developer/git/dockside-website/src/components/widgets/Features3.astro"
        data-astro-source-loc="39:88"
      >
        <img
          src="/Themes5.gif"
          crossorigin="anonymous"
          referrerpolicy="no-referrer"
          class="w-full h-80 object-cover rounded-xl mx-auto bg-gray-500 shadow-lg"
          width="NaN"
          height="320"
          widths="400,768"
          layout="fullWidth"
          alt="Dockside App for Mac Overview"
          style="width:auto;height:auto;object-fit:fit"
          loading="lazy"
          decoding="async"
          data-astro-source-file="/Users/prajwalshettyd/Developer/git/dockside-website/src/components/common/Image.astro"
          data-astro-source-loc="62:6"
        />
      </div>
    </div>
    <div
      class="grid mx-auto gap-8 md:gap-y-12 sm:grid-cols-2 mt-12"
      data-astro-source-file="/Users/prajwalshettyd/Developer/git/dockside-website/src/components/ui/ItemGrid.astro"
      data-astro-source-loc="34:6"
    >
      <div
        data-astro-source-file="/Users/prajwalshettyd/Developer/git/dockside-website/src/components/ui/ItemGrid.astro"
        data-astro-source-loc="36:14"
      >
        <div
          class="flex flex-row max-w-full sm:max-w-md"
          data-astro-source-file="/Users/prajwalshettyd/Developer/git/dockside-website/src/components/ui/ItemGrid.astro"
          data-astro-source-loc="37:90"
        >
          <div
            class="flex justify-center"
            data-astro-source-file="/Users/prajwalshettyd/Developer/git/dockside-website/src/components/ui/ItemGrid.astro"
            data-astro-source-loc="38:46"
          >
            <svg
              width="1em"
              height="1em"
              viewBox="0 0 24 24"
              class="mr-2 rtl:mr-0 rtl:ml-2 flex-shrink-0 mt-1 text-primary w-6 h-6"
              data-icon="tabler:square-number-1"
              data-astro-source-file="/Users/prajwalshettyd/Developer/git/dockside-website/node_modules/astro-icon/components/Icon.astro"
              data-astro-source-loc="117:44"
            >
              <symbol
                id="ai:tabler:square-number-1"
                data-astro-source-file="/Users/prajwalshettyd/Developer/git/dockside-website/node_modules/astro-icon/components/Icon.astro"
                data-astro-source-loc="124:28"
                ><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  ><path d="M3 5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><path
                    d="m10 10l2-2v8"></path></g
                ></symbol
              ><use
                xlink:href="#ai:tabler:square-number-1"
                data-astro-source-file="/Users/prajwalshettyd/Developer/git/dockside-website/node_modules/astro-icon/components/Icon.astro"
                data-astro-source-loc="125:10"></use>
            </svg>
          </div><div
            class="mt-0.5"
            data-astro-source-file="/Users/prajwalshettyd/Developer/git/dockside-website/src/components/ui/ItemGrid.astro"
            data-astro-source-loc="46:33"
          >
            <h3
              class="text-lg font-semibold"
              data-astro-source-file="/Users/prajwalshettyd/Developer/git/dockside-website/src/components/ui/ItemGrid.astro"
              data-astro-source-loc="47:98"
            >
              Download and install Dockside app
            </h3><p
              class="text-muted mt-0.5"
              data-astro-source-file="/Users/prajwalshettyd/Developer/git/dockside-website/src/components/ui/ItemGrid.astro"
              data-astro-source-loc="49:18"
            >
              Start by downloading Dockside from our website. Dockside supports macOS 13.0+ (Venture and above). Enjoy a 14-day free trial to explore all features, or
              unlock the full app with a one-time lifetime license for just $5.99—no subscriptions, ever.
            </p>
          </div>
        </div>
      </div><div
        data-astro-source-file="/Users/prajwalshettyd/Developer/git/dockside-website/src/components/ui/ItemGrid.astro"
        data-astro-source-loc="36:14"
      >
        <div
          class="flex flex-row max-w-full sm:max-w-md"
          data-astro-source-file="/Users/prajwalshettyd/Developer/git/dockside-website/src/components/ui/ItemGrid.astro"
          data-astro-source-loc="37:90"
        >
          <div
            class="flex justify-center"
            data-astro-source-file="/Users/prajwalshettyd/Developer/git/dockside-website/src/components/ui/ItemGrid.astro"
            data-astro-source-loc="38:46"
          >
            <svg
              width="1em"
              height="1em"
              viewBox="0 0 24 24"
              class="mr-2 rtl:mr-0 rtl:ml-2 flex-shrink-0 mt-1 text-primary w-6 h-6"
              data-icon="tabler:square-number-2"
              data-astro-source-file="/Users/prajwalshettyd/Developer/git/dockside-website/node_modules/astro-icon/components/Icon.astro"
              data-astro-source-loc="117:44"
            >
              <symbol
                id="ai:tabler:square-number-2"
                data-astro-source-file="/Users/prajwalshettyd/Developer/git/dockside-website/node_modules/astro-icon/components/Icon.astro"
                data-astro-source-loc="124:28"
                ><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  ><path d="M3 5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><path
                    d="M10 8h3a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h3"></path></g
                ></symbol
              ><use
                xlink:href="#ai:tabler:square-number-2"
                data-astro-source-file="/Users/prajwalshettyd/Developer/git/dockside-website/node_modules/astro-icon/components/Icon.astro"
                data-astro-source-loc="125:10"></use>
            </svg>
          </div><div
            class="mt-0.5"
            data-astro-source-file="/Users/prajwalshettyd/Developer/git/dockside-website/src/components/ui/ItemGrid.astro"
            data-astro-source-loc="46:33"
          >
            <h3
              class="text-lg font-semibold"
              data-astro-source-file="/Users/prajwalshettyd/Developer/git/dockside-website/src/components/ui/ItemGrid.astro"
              data-astro-source-loc="47:98"
            >
              Dockside is ready to go
            </h3><p
              class="text-muted mt-0.5"
              data-astro-source-file="/Users/prajwalshettyd/Developer/git/dockside-website/src/components/ui/ItemGrid.astro"
              data-astro-source-loc="49:18"
            >
              Once installed and required permissions are granted, Dockside sits on both sides of your macOS Dock,
              adjusting to available space. The left side allows easy file drops, while the right keeps recent
              screenshots and downloads accessible. Always visible, yet unobtrusive.
            </p>
          </div>
        </div>
      </div><div
        data-astro-source-file="/Users/prajwalshettyd/Developer/git/dockside-website/src/components/ui/ItemGrid.astro"
        data-astro-source-loc="36:14"
      >
        <div
          class="flex flex-row max-w-full sm:max-w-md"
          data-astro-source-file="/Users/prajwalshettyd/Developer/git/dockside-website/src/components/ui/ItemGrid.astro"
          data-astro-source-loc="37:90"
        >
          <div
            class="flex justify-center"
            data-astro-source-file="/Users/prajwalshettyd/Developer/git/dockside-website/src/components/ui/ItemGrid.astro"
            data-astro-source-loc="38:46"
          >
            <svg
              width="1em"
              height="1em"
              viewBox="0 0 24 24"
              class="mr-2 rtl:mr-0 rtl:ml-2 flex-shrink-0 mt-1 text-primary w-6 h-6"
              data-icon="tabler:square-number-3"
              data-astro-source-file="/Users/prajwalshettyd/Developer/git/dockside-website/node_modules/astro-icon/components/Icon.astro"
              data-astro-source-loc="117:44"
            >
              <symbol
                id="ai:tabler:square-number-3"
                data-astro-source-file="/Users/prajwalshettyd/Developer/git/dockside-website/node_modules/astro-icon/components/Icon.astro"
                data-astro-source-loc="124:28"
                ><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  ><path d="M3 5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><path
                    d="M10 9a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1"
                  ></path></g
                ></symbol
              ><use
                xlink:href="#ai:tabler:square-number-3"
                data-astro-source-file="/Users/prajwalshettyd/Developer/git/dockside-website/node_modules/astro-icon/components/Icon.astro"
                data-astro-source-loc="125:10"></use>
            </svg>
          </div><div
            class="mt-0.5"
            data-astro-source-file="/Users/prajwalshettyd/Developer/git/dockside-website/src/components/ui/ItemGrid.astro"
            data-astro-source-loc="46:33"
          >
            <h3
              class="text-lg font-semibold"
              data-astro-source-file="/Users/prajwalshettyd/Developer/git/dockside-website/src/components/ui/ItemGrid.astro"
              data-astro-source-loc="47:98"
            >
              Drag and drop anything
            </h3><p
              class="text-muted mt-0.5"
              data-astro-source-file="/Users/prajwalshettyd/Developer/git/dockside-website/src/components/ui/ItemGrid.astro"
              data-astro-source-loc="49:18"
            >
              Simply drag files, folders, images, apps, text, or any draggable content into Dockside’s dynamic shelf on
              the left for quick access whenever you need it. It’s like having your favorite tools always within reach!
              Love using keyboard shortcuts? We’ve got you covered there, too—quick, easy access to your essentials is
              just a keystroke away, making your workflow faster and smoother than ever!
            </p>
          </div>
        </div>
      </div><div
        data-astro-source-file="/Users/prajwalshettyd/Developer/git/dockside-website/src/components/ui/ItemGrid.astro"
        data-astro-source-loc="36:14"
      >
        <div
          class="flex flex-row max-w-full sm:max-w-md"
          data-astro-source-file="/Users/prajwalshettyd/Developer/git/dockside-website/src/components/ui/ItemGrid.astro"
          data-astro-source-loc="37:90"
        >
          <div
            class="flex justify-center"
            data-astro-source-file="/Users/prajwalshettyd/Developer/git/dockside-website/src/components/ui/ItemGrid.astro"
            data-astro-source-loc="38:46"
          >
            <svg
              width="1em"
              height="1em"
              viewBox="0 0 24 24"
              class="mr-2 rtl:mr-0 rtl:ml-2 flex-shrink-0 mt-1 text-primary w-6 h-6"
              data-icon="tabler:square-number-4"
              data-astro-source-file="/Users/prajwalshettyd/Developer/git/dockside-website/node_modules/astro-icon/components/Icon.astro"
              data-astro-source-loc="117:44"
            >
              <symbol
                id="ai:tabler:square-number-4"
                data-astro-source-file="/Users/prajwalshettyd/Developer/git/dockside-website/node_modules/astro-icon/components/Icon.astro"
                data-astro-source-loc="124:28"
                ><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  ><path d="M3 5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><path
                    d="M10 8v3a1 1 0 0 0 1 1h3m0-4v8"></path></g
                ></symbol
              ><use
                xlink:href="#ai:tabler:square-number-4"
                data-astro-source-file="/Users/prajwalshettyd/Developer/git/dockside-website/node_modules/astro-icon/components/Icon.astro"
                data-astro-source-loc="125:10"></use>
            </svg>
          </div><div
            class="mt-0.5"
            data-astro-source-file="/Users/prajwalshettyd/Developer/git/dockside-website/src/components/ui/ItemGrid.astro"
            data-astro-source-loc="46:33"
          >
            <h3
              class="text-lg font-semibold"
              data-astro-source-file="/Users/prajwalshettyd/Developer/git/dockside-website/src/components/ui/ItemGrid.astro"
              data-astro-source-loc="47:98"
            >
              Great companion to the Dock
            </h3><p
              class="text-muted mt-0.5"
              data-astro-source-file="/Users/prajwalshettyd/Developer/git/dockside-website/src/components/ui/ItemGrid.astro"
              data-astro-source-loc="49:18"
            >
              Dockside eagerly follows the Dock wherever it moves—whether it jumps to a new desktop, switches to a
              different monitor, or goes into hidden mode. It instantly adapts to every change, even when the Dock is
              tucked away during full-screen app mode. Wherever the Dock goes, Dockside is right there, ready to fit in
              and keep up with the action!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Content Widget **************** -->

  <Content
    id="features"
    isReversed
    items={[
      {
        title: 'Drag and Drop Anything',
        description:
          'Easily drag and drop files, folders, apps, images, videos, links, and even text into Dockside for quick access and later use.',
        icon: 'tabler:drag-drop',
      },
      {
        title: 'Create Quick Notes',
        description:
          'Capture quick notes right within Dockside. A click away for those times when you need to jot something down quickly.',
        icon: 'tabler:note',
      },
	  {
		title: 'App Drawer',
		description:
			'Effortlessly organise your apps with the App Drawer. Drag and drop apps into Dockside for quick access, and they will automatically be stored in the App Drawer!',
		icon: 'tabler:apps',
	  },
      {
        title: 'Optimise Images/Videos/PDFs (via Clop)',
        description:
          'Effortlessly reduce file sizes with a single click for optimised storage and sharing. Uses the amazing <a href="https://lowtechguys.com/clop/" style="text-decoration: underline;">Clop app</a> for this which is integrated right into the Dockside with support for bulk operations.',
        icon: 'tabler:note',
      },
    ]}
    image={{
      src: '/Main5a.png', // Replace with the relevant image
      alt: 'Dockside App Overview - Features Part 1',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Features</h3>
    </Fragment>
  </Content>

  <Content
    isAfterContent
    items={[
      {
        title: 'Downloads and Screenshots',
        description:
          'Your most recent downloads and screenshots are always available in Dockside, ready to share.',
        icon: 'tabler:download',
      },
	  {
		title: 'Customizable Shelves',
		description:
			'Tailor your Dockside experience by configuring these shelves to monitor your favorite folders or the “Recents” shelf. Quickly access what you need most, all from within Dockside.',
		icon: 'tabler:adjustments',
	  },
      {
        title: 'Super Quick Previews',
        description:
          'Quick Look previews for commonly used files and a custom scrollable text previews for easy viewing of longer code files and documents.',
        icon: 'tabler:eye',
      },
      {
        title: 'Keyboard Shortcuts',
        description:
          'Use familiar macOS shortcuts like copy, paste, select all, and delete—Dockside functions just like Finder for a seamless experience.',
        icon: 'tabler:keyboard',
      }
    ]}
    image={{
      src: '/Screenshots2.png', // Replace with the relevant image
      alt: 'Dockside App Overview - Features Part 2',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Additional features</h3>
    </Fragment>
  </Content>


   <!-- Content Widget **************** -->

   <section class="bg-blue-50 dark:bg-slate-800 not-prose">
	<div class="max-w-6xl mx-auto px-4 sm:px-6 py-4 text-md text-center font-medium">
	  <span class="font-bold">
		<Icon name="tabler:info-square" class="w-5 h-5 inline-block align-text-bottom" /> Want to know more, check our detailed usage guide: 
	  </span> 
	  <a href="/dockside-usage-tips" class="text-blue-600 dark:text-blue-400 underline">Dockside Usage Tips</a>
	</div>
  </section>  
  

  <!-- Content Widget **************** -->

  <Content
    isReversed
    items={[
      {
        title: 'Change the Style',
        description:
          'Switch between a clear, transparent style for distraction-free use, or a Dock-like style with both light and dark mode settings with an additional option to hide the Dockside automatically.',
        icon: 'tabler:palette',
      },
      {
        title: 'Store Item References or Copies',
        description:
          'Choose whether to drop an item reference for quick access or make a copy directly into Dockside for safekeeping.',
        icon: 'tabler:copy',
      },
      {
        title: 'Adjust Space for Screenshots and Downloads',
        description:
          'Customise the space allocated for recent screenshots and downloads, prioritising whichever you use more frequently OR use this shelf to monitor your favourite folders or even Recent files.',
        icon: 'tabler:layout-columns',
      },
      {
        title: 'Customise Drag and Drop Behaviour',
        description:
          'Control how items behave when dragged—choose to copy, move, or customise the action based on your workflow needs.',
        icon: 'tabler:arrows-move',
      },
    ]}
    image={{
      src: '/Settings2.gif', // Replace with the relevant image
      alt: 'Customisation Settings Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Customisation</h3>
    </Fragment>
  </Content>

  <Features3
    id="data-privacy"
    title="Your Data, Only on Your Device"
    subtitle="Dockside is designed with your privacy as a top priority. It ensures that all your files, data, and activities stay secure on your device, without ever leaving your machine."
    tagline="Just a file shelf"
    columns={2}
    items={[
      {
        title: 'No data collection',
        description: `Dockside does not collect any data—your files, actions, and usage remain entirely on your device. There are no background processes sending information anywhere.`,
        icon: 'tabler:shield-lock',
      },
      {
        title: 'Operates offline',
        description:
          'Dockside works entirely offline, with the only exception being a one-time license activation. After that, the app functions without any internet connection, keeping your data local and private.',
        icon: 'tabler:cloud-off',
      },
      {
        title: 'No external servers',
        description:
          'Your files and data never leave your machine. Dockside does not interact with any external servers, ensuring everything stays on your local device for complete security.',
        icon: 'tabler:server-off',
      },
      {
        title: 'Apple Notarized',
        description: `Dockside is Apple Notarized, meaning it has been verified by Apple to be free of malware. This further ensures the security and privacy of the app on your Mac.`,
        icon: 'tabler:lock',
      },
      {
        title: 'Uses only Apple APIs',
        description:
          'Dockside exclusively uses Apple’s secure and vetted APIs, ensuring that the app follows strict privacy and security guidelines, providing a seamless and trusted experience.',
        icon: 'tabler:apple',
      },
      {
        title: 'Developed with care',
        description: `As an indie developer, I built Dockside with a focus on privacy and utility. I have no need for your data and no interest in collecting it—my goal is to provide a simple, efficient tool for managing your files while keeping your privacy intact.`,
        icon: 'tabler:user-circle',
      },
    ]}
  />

  <section class="bg-blue-50 dark:bg-slate-800 not-prose">
	<div class="max-w-6xl mx-auto px-4 sm:px-6 py-4 text-md text-center font-medium">
	  <span class="font-bold">
		<Icon name="tabler:info-square" class="w-5 h-5 inline-block align-text-bottom" /> Are you a developer, looking to integrate your app with Dockside? Check out:
	  </span> 
	  <a href="/developers" class="text-blue-600 dark:text-blue-400 underline">Third-party Apps</a>
	</div>
  </section>  

  <!-- FAQs Widget ******************* -->

  <FAQs
    id="FAQs"
    title="Frequently Asked Questions"
    subtitle="Get answers to common questions about Dockside"
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Is Dockside safe to use?',
        description:
          'Yes! Dockside is Apple Notarized, which means it has passed Apple’s security checks and is free from malware. It also operates entirely offline, uses native APIs, ensuring your files and data stay on your device.',
      },
      {
        title: 'Can I try Dockside before buying it?',
        description:
          'Absolutely! Dockside offers a 14-day free trial so you can explore all of its features before deciding to purchase a lifetime license for $5.99.',
      },
      {
        title: 'Does Dockside store my files or data in the cloud?',
        description:
          'No, Dockside does not use any external servers. All your files, actions, and data remain entirely on your device, ensuring your privacy and security.',
      },
      {
        title: 'What happens after my free trial ends?',
        description:
          'After the 14-day trial period, Dockside will prompt you to purchase a lifetime license for $5.99. Once purchased, all features will remain unlocked permanently—no subscriptions, just a one-time fee.',
      },
      {
        title: "What's the future roadmap for Dockside?",
        description:
          'With enough support, Dockside aims to add more workflow-enhancing features. Future improvements could include support for auto-hiding, integration with other apps, quick access to AI tools like ChatGPT, Continuity Features, and even an iOS/iPadOS app for seamless sharing across devices via iCloud.',
      },
      {
        title: 'How can I customize Dockside to suit my workflow?',
        description:
          'Dockside offers various customization options. You can switch between themes, adjust space allocation for recent screenshots and downloads, and even choose how items behave when dragged—whether to copy, move, or take another action that fits your workflow needs.',
      },
      {
        title: 'Does it support multiple monitors and multiple Desktops?',
        description:
          'Dockside fully supports multiple monitors including multiple Desktops. Just like the Dock, it stays on the primary monitor next to the Dock. Simply put, wherever the Dock goes, Dockside follows. You can also manually pin the Dockside to a specific screen/display if you need to.',
      },
      {
        title: 'Does it support hidden Dock or full screen apps?',
        description:
          'Yes, Dockside will remain hidden whenever the Dock is hidden, whether in hidden mode or during full-screen apps. When you need to access Dockside, simply move your mouse to the bottom of the screen, and it will appear right where you would expect it, just like the Dock.',
      },
      {
        title: 'Can other apps talk to Dockside?',
        description: 'Yes, apps can integrate with Dockside to sent text or files/folders to the shelf. See <a href="/developers" class="text-blue-600 dark:text-blue-400 underline">Third-party Apps</a> for more info.',
      },
      {
        title: 'Is this a Dock replacement app?',
        description: 'No, Dockside is more like a Dock companion app. See <a href="/dockside-usage-tips" class="text-blue-600 dark:text-blue-400 underline">Dockside Usage Tips</a>',
      }
    ]}
  />
</Layout>
