---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import CrispWidget from "../components/CrispWidget.astro";


const metadata = {
  title: 'Hachipoo Apps',
  ignoreTitleTemplate: true,
};
---
<Layout metadata={metadata}>
	<CrispWidget />

  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Learn more',
        href: '/dockside-app',
        target: ''
      }
    ]}
  >
  {/* Add image above the title */}
  
    <Fragment slot="title">
		<img 
	src="/appIcon1024px.png" 
	alt="Dockside Hero Image"
	style={{
		display: 'block',  // Makes the image a block element
		margin: '0 auto',  // Centers the image horizontally
		width: '20%',      // Adjusts the width of the image (change as necessary)
		height: '20%',    // Maintains the aspect ratio
		objectFit: 'cover',  // Ensures the image fits well within its container
		marginTop: '-3rem',  // Adds some space below the image
		marginBottom: '+1rem'  // Adds some space below the image
	}}
/>
      <span class="text-accent dark:text-white highlight no-margin">Dockside for Mac</span>
	   <span class="hidden xl:inline"></span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="sm:inline">
        <span class="font-semibold">Dockside</span> 
        is your friendly file shelf next to the macOS Dock, where you can drag and drop files, folders, apps, images, videos, and text for quick access or later use, without interrupting your workflow. 
		Explore all of Dockside’s features with a free 14-day trial, or purchase a one-time license for just $5.99, no subscriptions. 
		Supports macOS 13.0+ (Ventura and above)
    </Fragment>
  </Hero>

</Layout>
