---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Dockside App for Mac: Dockside is your friendly file shelf that lives next to your macOS Dock',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->


  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Try Dockside App',
        href: '/dockside-app',
        target: ''
      }
    ]}
    
    image={{ 
		src: '/IntroBanner.png', 
		alt: 'Dockland App for Mac Hero Image',
		style: { 
			width: '100%',  // Ensures the image width fits its container
			height: '100%',  // Ensures the image height fits its container
			objectFit: 'fill'  // Ensures the image is not distorted or cropped
		}
	}}
  >
  {/* Add image above the title */}
  <img 
    src="/512-mac.png" 
    alt="Dockside Hero Image"
    style={{
      display: 'block',  // Makes the image a block element
      margin: '0 auto',  // Centers the image horizontally
      width: '50%',      // Adjusts the width of the image (change as necessary)
      height: 'auto',    // Maintains the aspect ratio
      objectFit: 'cover',  // Ensures the image fits well within its container
      marginBottom: '1rem'  // Adds some space below the image
    }}
  />

    <Fragment slot="title">
      <span class="text-accent dark:text-white highlight">Dockside for Mac</span>
	   <span class="hidden xl:inline"></span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Dockside</span> 
        is your friendly file shelf next to the macOS Dock, where you can drag and drop files, folders, apps, images, videos, and text for quick access or later use, without interrupting your workflow. 
        It automatically displays recent screenshots and downloads, ensuring they're always at your fingertips.
        Lightweight and always visible, Dockside helps you stay organized, manage frequently used items, create quick notes, and keep your desktop clutter-free—all without getting in your way.
    </Fragment>
  </Hero>

</Layout>
