---
import { SITE } from 'astrowind:config';
---

<span class="flex items-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
  <img src="/logo.png" alt="Dockside Logo image" class="w-11 h-8 mr-2" />
  {SITE?.name}
</span>
